@import "media";
*::-webkit-input-placeholder {
	color: #666;
	opacity: 0.5;
}

*:-moz-placeholder {
	color: #666;
	opacity: 0.5;
}

*::-moz-placeholder {
	color: #666;
	opacity: 0.5;
}

*:-ms-input-placeholder {
	color: #666;
}

input::-ms-clear {
	height: 0;
	width: 0;
	display: none;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: none;
}

body input:required:valid,
body textarea:required:valid {
	border: none;
}
body input,
body textarea{
	border: none;
}
html,
body {
/* 	height: 100%;
width: 100vw;
overflow-x: hidden;
box-sizing: border-box; */
}

body {
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	letter-spacing: 0.6px;
	margin: 0;
	transition: 0.3s;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

#app {
  font-family: $font-gt, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  height: 100%;
  position: relative;
}

h1, h2 {
  font-weight: normal;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  @include min-screen(992px){
  	width: 954px;
  } 
  @include screen(769px, 991px){
  	width: 720px;
  }
  @include screen(577px, 768px){
  	width: 540px;
  }
  @include screen(480px, 576px){
  	width: 470px;
  }
  @include max-screen(480px){
  	width: 100%;
  }
}


.bg-base{
	background-color: $base-cl;
}

.bg-acent{
	background-color: $acent-cl;
}

.bg-acent-hover{
	&:hover{
		background-color: $acent-hover-cl;
	}
}

.bg-gray{
	background-color: $gray-cl;
}

//Layout
.flex-row{
	display: flex;
	&--ai-c{
		align-items: center;
	}
	&--ai-fs{
		align-items: flex-start;
	}
	&--jcsb{
		justify-content: space-between;
	}
	&--jcc{
		justify-content: center;
	}
	&--fxdc{
		flex-direction: column;
	}
	&--fxdc-md{
		@include screen(768px, 992px){
			flex-direction: column;
		}
	}
	&--fxdc-sm{
		@include screen(480px, 767px){
			flex-direction: column;
		}
	}
	&--fxdc-xs{
		@include max-screen(480px){
			flex-direction: column;
		}
	}
	&--wrapp{
		flex-wrap: wrap;
	}
	&--wrapp-md{
		@include screen(768px, 992px){
			flex-wrap: wrap;
		}
	}
	&--wrapp-sm{
		@include screen(480px, 767px){
			flex-wrap: wrap;
		}
	}
	&--wrapp-xs{
		@include max-screen(480px){
			flex-wrap: wrap;
		}
	}
} 

//class for hidden elements
.hidden{
	display: none;
	&--xl{
		@include min-screen(992px){
			display: none!important;
		}
	}
	&--md{
		@include screen(768px, 991px){
			display: none;
		}
	}
	&--sm{
		@include screen(480px, 767px){
			display: none;
		}
	}
	&--xs{
		@include max-screen(480px){
			display: none;
		}
	}
}

.d-none{
	display: none!important;
}


//classes for font-family
.ff-gotham{
	font-family: $font-gt!important;
}

.ff-book{
	font-family: $font-gtb;
}


.ff-din{
	font-family: $font-din;
}

.ff-sfns{
	font-family: $font-sfns;
}

//classes for sections
.base-section{
	display: block;
	position: relative;
	box-sizing: border-box;
	padding: 63px 10px 35px;
	overflow: hidden;
	&--padding20px0{
		padding: 20px 0;
	}
	&--max576-pad40px0{
		@include max-screen(576px){
			padding: 40px 0;
		}
	}
	&--max576-pad20px0{
		@include max-screen(576px){
			padding: 20px 0;
		}
	}
	&--bd-top-xl{
		@include min-screen(992px){
			border-top: 2px solid #333;
		}		
	}
}

//class for title
.base-title{
	display: inline-block;
	box-sizing: border-box;
	margin: 0 auto;
	font-family: $font-din;
	color: $base-cl;
	font-size: 48px;
	line-height: 52px;
	font-weight: 700;
	text-transform: uppercase;
	&--max480fz40{
		@media screen and (max-width: 480px){
			font-size: 40px!important;
			line-height: 44px!important;
		}
	}
	&--max390fz32{
		@media screen and (max-width: 390px){
			font-size: 32px!important;
			line-height: 38px!important;
		}
	}	
	&--without-margin{
		margin: 0;
	}
	&--fz-54{
		font-size: 54px;
		line-height: 58px;
	}
	&--fz-40{
		font-size: 40px;
		line-height: 55px;
	}
	&--fz-28{
		font-size: 28px;
		line-height: 55px;
	}
	&--fz-16{
		font-size: 16px;
		line-height: 29px;
	}
	&--fz-14{
		font-size: 14px;
		line-height: 20px;
	}
	&--fw-400{
		font-weight: 400;
	}
	&--line-over{
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			width: 60px;
			height: 3px;
			background-color: #000;
			top: -10px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&--line-under{
		position: relative;
		&:after{
			content: '';
			display: block;
			position: absolute;
			width: 60px;
			height: 3px;
			background-color: $acent-cl;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}


.margin{
	&__top{
		&--5{
			margin-top: 5px;
		}
		&--10{
			margin-top: 10px;
		}
		&--15{
			margin-top: 15px;
		}
		&--20{
			margin-top: 20px;
		}
	}
	&__bottom{
		&--5{
			margin-bottom: 5px;
		}
		&--10{
			margin-bottom: 10px;
		}
		&--15{
			margin-bottom: 15px;
		}
		&--20{
			margin-bottom: 20px;
		}
	}
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}