

//Base colors
$acent-cl: #FFEE50;
$acent-hover-cl: #e1d032;
$base-cl: #000;

//Fonts
$font-gt: 'Gotham';
$font-gtb: 'Gotham-book', $font-gt;
$font-lucida: 'LucidaGrande', $font-gt;
$font-din: 'PFDinCondensedRegular', sans-serif;
