

//Base colors
$acent-cl: #FFEE50;
$acent-hover-cl: #e1d032;
$base-cl: #000;
$gray-cl: #f8f8f8;

//Fonts
$font-gt: 'Gotham';
$font-gt-light: 'Gotham-Light';
$font-gtb: 'Gotham-book', $font-gt;
$font-lucida: 'LucidaGrande', $font-gt;
$font-din: 'PFDinCondensedRegular', sans-serif;
$font-sfns: 'SFNS', sans-serif;